<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <!--ArturWorkConfigs-->
    <add name="OriginalHospitalDataBase_ArturWork" providerName="System.Data.SqlClient" connectionString="Server= SAHARCHUKA\ARCHERSQLSERVER;Database=HospitalDataBase;Integrated Security=SSPI;User Id=DoctorSoft;Password=Doctor103;" />
    <add name="TestHospitalDataBase_ArturWork" providerName="System.Data.SqlClient" connectionString="Server= SAHARCHUKA\ARCHERSQLSERVER;Database=TestHospitalDataBase; Integrated Security=SSPI;User Id=DoctorSoft;Password=Doctor103;" />
    <!--Artur/TomashHomeConfigs-->
    <add name="OriginalHospitalDataBase_ArturTomashHome" providerName="System.Data.SqlClient" connectionString="Server=TOM-PC\SAHARCHUKA;Database=HospitalDataBase;Integrated Security=SSPI;User Id=DoctorSoft;Password=Doctor103;" />
    <add name="TestHospitalDataBase_ArturTomashHome" providerName="System.Data.SqlClient" connectionString="Server=TOM-PC\SAHARCHUKA;Database=TestHospitalDataBase;Integrated Security=SSPI; User Id=DoctorSoft;Password=Doctor103;" />
    <!--VaniaHomeConfigs-->
    <add name="OriginalHospitalDataBase_VaniaHome" providerName="System.Data.SqlClient" connectionString="Server=ADMIN-PC\VANIA;Database=HospitalDataBase;Integrated Security=SSPI; User Id=DoctorSoft;Password=Doctor103;" />
    <add name="TestHospitalDataBase_VaniaHome" providerName="System.Data.SqlClient" connectionString="Server=ADMIN-PC\VANIA;Database=TestHospitalDataBase;Integrated Security=SSPI; User Id=DoctorSoft;Password=Doctor103;" />
    <!--TomashPrivateConfigs-->
    <add name="OriginalHospitalDataBase_TomashPrivate" providerName="System.Data.SqlClient" connectionString="Server=TOM-ПК\TOMASH;Database=HospitalDataBase;Integrated Security=SSPI;User Id=DoctorSoft;Password=Doctor103;" />
    <add name="TestHospitalDataBase_TomashPrivate" providerName="System.Data.SqlClient" connectionString="Server=TOM-ПК\TOMASH;Database=TestHospitalDataBase;Integrated Security=SSPI;User Id=DoctorSoft;Password=Doctor103;" />
    <!--VaniaWorkConfigs-->
    <!--No configs yet-->
    <add name="Test_Remote_Db" providerName="System.Data.SqlClient" connectionString="Data Source=v02.bizneshost.by,32433;Initial Catalog=SystemDoctor;Persist Security Info=True;User ID=systemdo;Password=3Yk6lj4aM4" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>