HospitalWebAPI/packages/
HospitalWebAPI/DataBaseTools/obj/
HospitalWebAPI/DataBaseModelConfigurations/obj/
HospitalWebAPI/HospitalWebAPI/obj/
HospitalWebAPI/StorageModels/obj/
HospitalWebAPI/Repositories/obj/
HospitalWebAPI/RepositoryDependencies/obj/
HospitalWebAPI/RepositoryTools/obj/
HospitalWebAPI/HospitalWebAPI/bin/
HospitalWebAPI/DataBaseModelConfigurations/bin/
HospitalWebAPI/DataBaseTools/bin/
HospitalWebAPI/RepositoryDependencies/bin/
HospitalWebAPI/DataBaseRepositoryTools/bin/
HospitalWebAPI/DataBaseRepositoryTools/obj/
HospitalWebAPI/Tests/obj/
HospitalWebAPI/Tests/bin/
HospitalWebAPI/CreateRandomDataTools/obj/
HospitalWebAPI/HandleTools/obj/
HospitalWebAPI/HandleToolsInterfaces/obj/
HospitalWebAPI/Repositories/bin/
HospitalWebAPI/DataBaseFiller/bin/
HospitalWebAPI/DataBaseFiller/obj/
HospitalWebAPI/HelpingTools/obj/
HospitalWebAPI/HelpingTools/bin/
HospitalWebAPI/RemoteServicesTools/obj/
HospitalWebAPI/RemoteServicesTools/bin/
HospitalWebAPI/CreateRandomDataTools/bin/
HospitalWebAPI/Dependencies/obj/
HospitalWebAPI/Dependencies/bin/
HospitalWebAPI/Services/obj/
HospitalWebAPI/ServiceModels/obj/
HospitalWebAPI/RepositoryTools/bin/
