
HospitalWebAPI/packages/
HospitalWebAPI/Tests/obj/
HospitalWebAPI/Tests/bin/
HospitalWebAPI/StorageModels/obj/
HospitalWebAPI/Services/obj/
HospitalWebAPI/ServiceModels/obj/
HospitalWebAPI/Resources/obj/
HospitalWebAPI/RepositoryTools/obj/
HospitalWebAPI/RepositoryTools/bin/
HospitalWebAPI/RepositoryDependencies/obj/
HospitalWebAPI/Repositories/obj/
HospitalWebAPI/Repositories/bin/
HospitalWebAPI/RemoteServicesTools/obj/
HospitalWebAPI/RemoteServicesTools/bin/
HospitalWebAPI/HospitalWebAPI/obj/
HospitalWebAPI/HospitalWebAPI/bin/
HospitalWebAPI/HelpingTools/obj/
HospitalWebAPI/HelpingTools/bin/
HospitalWebAPI/HandleToolsInterfaces/obj/
HospitalWebAPI/HandleTools/obj/
HospitalWebAPI/Enums/obj/
HospitalWebAPI/Dependencies/obj/
HospitalWebAPI/Dependencies/bin/
HospitalWebAPI/DataBaseTools/obj/
HospitalWebAPI/DataBaseTools/bin/
HospitalWebAPI/DataBaseRepositoryTools/obj/
HospitalWebAPI/DataBaseRepositoryTools/bin/
HospitalWebAPI/DataBaseModelConfigurations/obj/
HospitalWebAPI/DataBaseModelConfigurations/bin/
HospitalWebAPI/DataBaseFiller/obj/
HospitalWebAPI/DataBaseFiller/bin/
HospitalWebAPI/CreateRandomDataTools/obj/
HospitalWebAPI/CreateRandomDataTools/bin/
HospitalWebAPI/HospitalMVC/bin/
HospitalWebAPI/HospitalMVC/obj/
Documentation/~WRL0001.tmp
Documentation/Balsamiq/Hospital Project.pdf
Documentation/~$ckUpInformation.doc
~$Статистика.xlsx
Статистика.xlsx
Publish/
HospitalWebAPI/HtmlHelpers/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
HospitalWebAPI/ServiceModels/bin/
HospitalWebAPI/HtmlHelpers/obj/
Publish.zip
HospitalWebAPI/Services/bin/
PublishPart1.zip
PublishPart2.zip
HospitalWebAPI/DataBaseChildClinicFiller/obj/
Publish2.zip
bin.zip
Part1.zip
Part2.zip
