@using Resources
@model ServiceModels.ServiceCommandAnswers.NoticesCommandAnswers.GetHospitalNoticesPageInformationCommandAnswer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-padding w3-white notranslate">
    <h2 class="panel-heading">@MainResources.NoticeTableHeading</h2>

    <ul class="list-group">
        @foreach (var item in Model.Messages)
        {
            @Html.ActionLink(@item.Title, "ReadMessage", "HospitalNoticesPage", new { Token = Model.Token, MessageId = item.MessageId }, new { @class = !item.IsRead ? "list-group-item list-group-item-success" : "list-group-item list-group-item-info" })
        }
    </ul>
</div>
