a.button10 {
  display: inline-block;
  color: black;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(250,172,17);
  border-radius: 7px;
  background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
} 
a.button10:hover {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
a.button10:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: rgba(177,159,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}


a.button9 {
  display: inline-block;
  color: black;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(17,172,250);
  border-radius: 7px;
  background: rgb(3,212,255) linear-gradient(rgb(3,212,255), rgb(23,157,248));
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
} 
a.button9:hover {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(0,255,255,.5);
}
a.button9:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: rgba(0,159,177,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(0,255,255,.45);
}


a.button8 {
  display: inline-block;
  color: black;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(250,72,17);
  border-radius: 7px;
  background: rgb(255,112,3) linear-gradient(rgb(255,112,3), rgb(248,57,23));
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
} 
a.button8:hover {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,155,0,.5);
}
a.button8:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: rgba(177,59,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,155,0,.45);
}

a.button5 {
  display: inline-block;
  color: black;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(160,162,167);
  border-radius: 7px;
  background: rgb(205,162,153) linear-gradient(rgb(165,162,153), rgb(168,200,173));
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(165,165,0,0);
  transition: box-shadow .2s, border-color .2s;
} 
a.button5:hover {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(155,155,150,.5);
}
a.button5:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: rgba(157,159,150,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(155,155,150,.45);
}


a.button7 {
  display: inline-block;
  color: black;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(17,250,72);
  border-radius: 7px;
  background: rgb(3,255,112) linear-gradient(rgb(3,255,112), rgb(23,248,57));
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
} 
a.button7:hover {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(0,255,155,.5);
}
a.button7:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: rgba(0,177,59,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(0,255,155,.45);
}


a.button6 {
  display: inline-block;
  color: black;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(150,172,17);
  border-radius: 7px;
  background: rgb(255,212,3) linear-gradient(rgb(155,212,3), rgb(148,157,23));
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(155,255,0,0);
  transition: box-shadow .2s, border-color .2s;
} 
a.button6:hover {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(155,255,0,.5);
}
a.button6:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: rgba(77,159,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(155,255,0,.45);
}


/**/


body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../Content/Images/9.jpg); 
    background-repeat:repeat;  
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.schedule-background {
    background-repeat:repeat;
}

.schedule-label {
    background-repeat:repeat;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,

.container { 
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}

div { 
display: block;
 }



.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}

.form-signin .form-control {
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          
  font-size: 16px;
}

.form-signin { 
margin: 0px auto;
max-width: 330px;
padding: 15px;
}

* { 
box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn.focus, .btn:focus, .btn:hover { 
color: #333333;
text-decoration: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { 
outline: thin dotted currentColor;
outline-offset: -2px;
}

.btn { 
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
cursor: pointer;
display: inline-block;
font-size: 14px;
font-weight: 400;
line-height: 1.43;
padding: 6px 12px;
text-align: center;
vertical-align: middle;
white-space: nowrap;
}

.btn-group-lg > .btn, .btn-lg {
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
}

.btn-primary {
    background-color: #337AB7;
    border-bottom-color: #2E6DA4;
    border-left-color: #2E6DA4;
    border-right-color: #2E6DA4;
    border-top-color: #2E6DA4;
    color: #FFFFFF;
}

.btn-block {
    display: block;
    width: 100%;
}


button, select {
    text-transform: none;
}

.button {
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    color: #000000;
    display: inline-block;
    font-family: use-lang-def;
    font-size: 13px;
    font-weight: 400;
    padding: 1px 8px;
    text-align: center;
    text-indent: 0px;
    white-space: nowrap;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 500;
    line-height: 1.1;
}

.h1, .h2, .h3 {
    margin-top: 20px;
}

.h2 {
    font-size: 30px;
}

.sr-only {
    border: 0px none currentColor;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    width: 1px;
}

.label {
    display: inline-block;
    font-weight: 700;
    max-width: 100%;
}

.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.071);
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.43;
    padding: 6px 12px;
    transition: border-color 0.15s cubic-bezier(0.42, 0, 0.58, 1) 0, box-shadow 0.15s cubic-bezier(0.42, 0, 0.58, 1) 0;
    width: 100%;
}

