
@{
    ViewBag.Title = "ViewMore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ServiceModels.ServiceCommandAnswers.HospitalRegistrationsCommandAnswers.GetHospitalRegistrationRecordCommandAnswer

<div class="panel panel-default">
    @Model.ReservationPurpose
</div>
